/.vscode
/bin
/obj
/demos/demo/bin
/demos/demo/obj
/demos/demo/Resources
/demos/demo/audiosettings.dat
/demos/demo/imgui.ini
/demos/demo/src/Test.cs
/demos/demo/src/TestProgram.cs
/demos/snake/bin
/demos/snake/obj
/demos/snake/audiosettings.dat
/demos/snake/imgui.ini
/testapp